.screens {
    display: flex;
    margin: 1em 2em;
}

.rightHalf {
    height: 90vh;
    width: 50%;
    padding: 1rem;
}

.leftHalf {
    height: 90vh;
    width: 50%;
}

body {
    overflow: hidden;
}
